.grid, .filter__list, .section-clients__list, .team-set, .section-occupation__list, .card-set, .soc-list__contact, .nav, .soc-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact__tel, .contact__mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__tel, .contact__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__tel, .contact__mail {
    padding: 32px 0;
  }
}

.address__tel, .address__mail {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  color: #212121;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.no-scroll {
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.soc-list__icon-box {
  width: 44px;
  height: 44px;
  display: block;
  color: #afb1b8;
  padding: 12px 0;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__icon-box:hover, .soc-list__icon-box:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.soc-list__icon {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 92px;
  }
}

.logo__part {
  color: #2196f3;
}

.button-menu {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 5;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}
.button-menu:hover, .button-menu:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .button-menu .icon-cross {
    display: none;
  }
  .button-menu.is-open .icon-cross {
    display: block;
    position: fixed;
    top: 15px;
    right: 10px;
  }
  .button-menu.is-open .icon-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu__svg {
  fill: currentColor;
}

.menu-mobile {
  z-index: 4;
}
@media screen and (max-width: 479px) {
  .menu-mobile {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .menu-mobile__container {
    width: 100%;
    padding: 48px 20px 86px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu-mobile__container {
    padding: 48px 84px 48px 40px;
  }
}
@media screen and (max-width: 767px) {
  .menu-mobile__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-mobile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-mobile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 320px;
  }
}
@media screen and (max-width: 767px) {
  .menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }
  .menu-mobile.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 51px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
  }
}

.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-image: url(../images/line-current.svg);
}
@media screen and (max-width: 767px) {
  .nav__link--current::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 479px) {
  .contact {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contact__mail {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 479px) {
  .contact__mail {
    font-size: 18px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .contact__mail {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__mail {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 30px;
  }
}
.contact__mail:hover, .contact__mail:focus {
  color: #2196f3;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.contact__tel:hover, .contact__tel:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .contact__tel {
    font-size: 34px;
    line-height: 1.18;
    color: #2196f3;
  }
}
@media screen and (max-width: 479px) {
  .contact__tel {
    font-size: 23px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .contact__tel {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contact__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .soc-list__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    max-width: 356px;
  }
}
@media screen and (min-width: 768px) {
  .soc-list__contact {
    display: none;
  }
}

.soc-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .soc-list__link {
    font-size: 12px;
    line-height: 1.22;
  }
}
.soc-list__link::after {
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  content: "";
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479px) {
  .soc-list__link::after {
    height: 18px;
  }
}

.soc-list__link--after::after {
  display: none;
}

.section-hero {
  margin: 0 auto;
  padding: 118px 0;
  background-color: #c4c4c4;
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-1x.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-1x.jpg);
}
@media screen and (max-width: 768px) {
  .section-hero {
    max-width: 480px;
    max-height: 400px;
    margin-top: 60px;
  }
}
@media (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-1x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-1x.jpg);
    max-width: 768px;
    margin-top: 80px;
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop-1x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-1x.jpg);
    padding: 200px 0;
    max-width: 1600px;
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop-2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-2x.jpg);
  }
}

.section-hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .section-hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button--modal {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .button--modal {
    max-width: 180px;
    padding: 8px 18px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .card-set__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__card {
    width: 354px;
  }
}

.card-set__icon-box {
  height: 120px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__icon-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__icon-box {
    width: 270px;
  }
}

.card-set__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .card-set__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .section-occupation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-occupation {
    display: block;
  }
}

.section-occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-occupation__item {
  position: relative;
}

.section-occupation__item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.section-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-set {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-set__item {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .team-set__item {
    width: 100%;
  }
  .team-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-set__item {
    width: 354px;
  }
}

.team-set__card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-set__person-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  text-align: center;
}

.team-set__work-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
}

.team-set__soc-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.section-clients {
  background-color: #ffffff;
}

.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .section-clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__item {
    width: 170px;
  }
}

.section-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link:hover, .section-clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.section-clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-join-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .address-join-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address-join-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .address-wrap {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    margin-right: 93px;
  }
}

.footer__logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .address {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.address__place {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}

.address__mail {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .join-us {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    margin-right: 93px;
  }
}

.join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .join-us__soc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us__soc-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.soc-list__icon-box--background {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.form-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .form-subscribe__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-subscribe__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-moz-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input:-ms-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-ms-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input:focus-within {
  outline: 1px solid #2196f3;
}
@media screen and (max-width: 480px) {
  .form-subscribe__input {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .form-subscribe__input {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .form-subscribe__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.button--subscribe {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .button--subscribe {
    margin: 0 auto;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 370px;
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.button-cross__modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-cross__modal:hover, .button-cross__modal:focus {
  color: #2196f3;
}

.button-cross__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 40px;
}
@media screen and (max-width: 479px) {
  .modal-form {
    padding: 30px 30px;
  }
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 2px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:last-child {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:focus-within .modal-form__input {
  outline: 1px solid #2196f3;
}

.modal-form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.modal-form__field:focus-within .modal-form__icon {
  fill: #2196f3;
}

.modal-form__textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus-within {
  outline: 1px solid #2196f3;
  border: none;
}
.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 0 11px;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  left: 0;
  top: 11px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon-box {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
@media screen and (min-width: 1200px) {
  .checkbox__input {
    position: absolute;
    left: 0;
    top: 16px;
  }
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 479px) {
  .checkbox__label {
    font-size: 10px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__icon-box {
  position: absolute;
  left: -10px;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .checkbox__icon-box {
    position: absolute;
    left: -10px;
    top: 3px;
  }
}

.checkbox__icon {
  fill: currentColor;
}

.checkbox__link {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 4px;
}
@media screen and (max-width: 1199px) {
  .checkbox__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 479px) {
  .checkbox__link {
    font-size: 10px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.button--submit {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 10px 52px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    margin-top: 80px;
  }
}

.button--portfolio {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--portfolio:hover, .button--portfolio:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid__item {
    width: calc((100% - 60px) / 2);
  }
}

.project {
  color: #757575;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover, .project:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__hover-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.project .project__hover-text {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__hover-text, .project:focus .project__hover-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.project__bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */