.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.address-join-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
display: flex;
justify-content: center;
gap: 165px;
  }
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px; 
    }
     @media screen and (min-width: 1200px) {
display: flex;
     }
    
}
.address-wrap {
  @media screen and (max-width: 767px) {
    text-align: center;

    }
  @media screen and (min-width: 1200px) {
   margin-right: 93px; 
  }

}

.footer__logo {
  color: $accent-color-white;
  
}

.address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: $accent-color-white;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
   margin: 0 auto; 
   margin-top: 20px;
   margin-bottom: 60px;
   
  }
}

.address__place {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: $accent-color-white;
  text-decoration: none;
}

.address__mail {
  @extend %address;
  margin-bottom: 9px;
}

.address__tel {
  @extend %address;
}
.join-us {
  @media screen and (max-width: 767px) {
   text-align: center; 
   margin-bottom: 60px;   
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  text-align: center;
}
}

.join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color-white;
 
}

.join-us__soc-list {
  margin-right: 93px;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    }
     @media screen and (min-width: 768px) and (max-width: 1199px) {
justify-content: center;
margin: 0 auto;
     }
}

.soc-list__icon-box--background {
  color: $accent-color-white;
  background: rgba(255, 255, 255, 0.1);
}

.form-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color-white;
  @media screen and (max-width: 767px) {
      text-align: center;
    }
}

.form-subscribe__wrap {
    @media screen and (min-width: 1200px) {
    display: flex;
justify-content: center;  
    }
}

.form-subscribe__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: outline 250ms $timing-function;
  &::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus-within {
    outline: 1px solid #2196f3;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }
}

.button--subscribe {
  width: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid $accent-color-blue;
  padding: 10px 28px;
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}
