.page-header {
  border-bottom: 1px solid #ececec;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $backgroud-color;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.page-header__container {
  position: relative;

  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}
.page-header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}

.logo__part {
  color: $accent-color-blue;
}

.button-menu {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 5;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms $timing-function;
  color: #000000;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
  @media screen and (max-width: 767px) {
    & .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
      position: fixed;
      top: 15px;
      right: 10px;
    }
    &.is-open .icon-menu {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu__svg {
  fill: currentColor;
}

.menu-mobile {
  z-index: 4;
@media screen and (max-width: 479px) {
  width: 100%;
}
&__container {
  padding: 48px 20px 86px 20px;
@media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    padding: 48px 84px 48px 40px;
  }
     @media screen and (max-width: 767px) {
      height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
     }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 96px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 320px;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
      height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
    transition: opacity 250ms $timing-function,
      visibility 250ms $timing-function, transform 250ms $timing-function;
    background-color: $backgroud-color;
    
    &.is-open {
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      transform: scale(1);
    }
  }
 

}

.nav-container {
  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}

.nav {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 51px;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }
}

.nav__link--current {
  color: $accent-color-blue;
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-image: url(../images/line-current.svg);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.contact {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }
  @media screen and (max-width: 479px) {
    margin-bottom: 44px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contact__mail {
  @extend %contacts;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (max-width: 479px) {
    font-size: 18px;
    line-height: 1.1;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact__tel {
  @extend %contacts;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color-blue;
  }
  @media screen and (max-width: 479px) {
    font-size: 23px;
    line-height: 1.1;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.soc-list__contact {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 20px;
    max-width: 356px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.soc-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color-blue;
  text-decoration: none;
  @media screen and (max-width: 479px) {
    font-size: 12px;
    line-height: 1.22;
  }
  &::after {
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    content: "";
    height: 22px;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    @media screen and (max-width: 479px) {
      height: 18px;
    }
  }
}
.soc-list__link--after {
  &::after {
    display: none;
  }
}
