.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  position: relative;
  @media screen and (max-width: 767px){
  padding-top: 16px;
  padding-bottom: 16px;} 
  @media screen and (min-width: 768px)  {
    @include centeredFlex();
    padding-top: 0;
    padding-bottom: 0;
    
  }
}

.page-header__logo {
 
  @media screen and (min-width: 768px) {
  margin-right: 93px;}
}

.logo__part {
  color: $accent-color-blue;
}

.button-menu{
  position: absolute;
  top: 50%;
    right: 0;
    transform: translateY( -50%);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color-blue;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    
     & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
       display: none;
     }
}

.button-cross__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.nav-container {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}

.nav {
  @extend %list;
@media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
}

.nav__link--current {
  color: $accent-color-blue;
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-image: url(../images/line-current.svg);
  }
}

.contact {
@media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contact__mail {
  @extend %contacts;
  margin-right: 50px;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__tel {
  @extend %contacts;
  &:hover,
  &:focus {
    color: $accent-color-blue;
  }
}
