.filter__list {
  @extend %list;
   display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
flex-wrap: wrap;
justify-content: flex-start;
  }
    
  }

.button--portfolio {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: $title-text-color;
  background-color: #f5f4fa;
  transition: color 250ms $timing-function background-color 250ms
      $timing-function,
    box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color-white;
    background: $accent-color-blue;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.grid {
  @extend %list;
     @media screen and (min-width: 768px) {
 display: flex;
  flex-wrap: wrap;
  gap: 30px;
     }
}
.grid__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 60px) / 2);
     
    }
}
.project {
  color: $primary-text-color;
  text-decoration: none;
  transition: box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
  display: flex;
  flex-direction: column;
  height: 100%;
 }

}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__hover-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $accent-color-white;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  .project & {
    transition: transform 250ms $timing-function, opacity 250ms $timing-function;
  }
  .project:hover &,
  .project:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.project__bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.project__type {
  font-size: 16px;
  line-height: 1.88; 
}
